---
layout: main
title: Reliefweb API - Documentation
---

<h2>All about the ReliefWeb API</h2>

<p><strong>TL/DR</strong>: Most of the information is on the <a href="/parameters">parameters</a> page. Find an example request that resembles the one you'd like to make, edit it in place and check the results from the API (requires javascript).</p>

<p>Jump to sections:</p>
<ul class="jump-links flex">
  {% assign sortedmeta = site.meta | sort: 'order' | reverse %}
  {% for meta in sortedmeta %}
  <li><a href="#{{ meta.name }}">{{ meta.title }}</a></li>
  {% endfor %}
</ul>

{% for meta in sortedmeta %}
<h3 id="{{ meta.name }}">{{ meta.title }}</h3>
{{ meta.content }}
{% endfor %}
