---
layout: main
title: Reliefweb API Preset settings
---

<h1 id="preset-settings">ReliefWeb API Preset settings </h1>

<p>Jump to settings:</p>
<ol id="cd-toc" class="cd-toc__list flex">
  {% for preset in site.presets %}
  <li><a href="#preset-{{ preset.name | downcase }}">{{ preset.name }}</a></li>
  {% endfor %}
</ol>

<h2>Introduction</h2>

<p>This page lists the settings associated with the <a href="/parameters#preset">'preset' parameter</a>.</p>

<p>Presets settings default to <code>minimal</code>.</p>

<p><strong>Note</strong>: Each query parameter overrides any preset configuration apart from <code>filter</code>, which is joined with <code>AND</code> to any preset conditions and <code>query</code> where each setting is independently overridden.</p>

<p>For example, you can not get expired jobs using <code>preset=latest</code>, because the filter for this would be:</p>

<pre>
"filter": {
  "operator": "AND",
  "conditions": [
    {
      "field": "status",
      "value": ["published"],
      "operator": "OR"
    },
    {
      "field": "status",
      "value": ["expired"],
    }
  ]
}
</pre>
<p>and no job can have both statuses at the same time.</p>

<h2>The settings</h2>

<ul class="presets">
  {% for preset in site.presets %}
  <li id="preset-{{ preset.name | downcase }}">
    <h3>{{ preset.name }}</h3>
    <ul>
      {{ preset.content }}
    </ul>
  </li>

  <div class="cd-toc__back-to-toc">
    <a href="#cd-toc" class="cd-button cd-button--bold cd-button--uppercase cd-button--small cd-button--icon">
      <span class="cd-button__text">Back to TOC</span>
      <svg class="cd-icon cd-icon--arrow-up">
        <use xlink:href="#cd-icon--arrow-up"></use>
      </svg>
    </a>
  </div>
  {% endfor %}
</ul>
