<div class="cd-layout-container">
  <header class="cd-header">
    <div class="cd-global-header">
      <div class="cd-container cd-global-header__inner">
      </div>
    </div>

    <div class="cd-site-header">
      <div class="cd-container cd-site-header__inner">

        <div class="cd-site-header__logo">

          <h1>
            <a href="{{ "/" | relative_url }}" title="Home" rel="home" class="cd-site-logo">
              <span class="visually-hidden">ReliefWeb API Documentation</span>
              <img src="/css/images/rw-api-logo.svg" alt="Home">
            </a>
          </h1>
        </div>

        <div class="cd-site-header__actions">
          <!-- Search can go here -->

          <div class="cd-site-header__nav-holder">

            <nav id="cd-site-header__nav" class="contextual-region block block-menu navigation menu--main cd-nav cd-site-header__nav" aria-label="Main" data-cd-toggable="Menu" data-cd-component="cd-nav-level-0" data-cd-icon="arrow-down" >
              {% include navigation.html navigation=site.data.navigation %}
            </nav>

          </div>

        </div>
      </div>
    </div>
  </header>
