<header id="header">
  <h1><a href="/"><span class="accessibility">ReliefWeb Labs</span></a></h1>

  <!-- Site Navigation -->
  <nav id="navigation-menu">
    <h2 id="navigation-menu-title" class="accessibility">Site Navigation</h2>
    <ul id="navigation-menu-list" aria-labelledby="navigation-menu-title">
      <li>
        <a href="/endpoints" aria-describedby="hint-intro">Endpoints</a>
        <p id="hint-intro" class="accessibility">Description of endpoints for ReliefWeb API.</p>
      </li>
      <li>
        <a href="/parameters" aria-describedby="hint-parameters">Parameters</a>
        <p id="hint-parameters" class="accessibility">Full list of API parameters with descriptions and examples.</p>
      </li>
      <li>
        <a href="/fields-tables" aria-describedby="hint-fields-tables">Fields Tables</a>
        <p id="hint-fields-tables" class="accessibility">All the fields available from the API grouped by the resources they are used with.</p>
      </li>
      <li>
        <a href="/result-structure" aria-describedby="hint-result-structure">Results</a>
        <p id="hint-result-structure" class="accessibility">Explanation of fields returned in results.</p>
      </li>
      <li>
        <a href="/presets" aria-describedby="hint-presets">Presets</a>
        <p id="hint-presets" class="accessibility">Reference of all preset settings.</p>
      </li>
      <li>
        <a href="/faq" aria-describedby="hint-faq">FAQ</a>
        <p id="hint-faq" class="accessibility">Frequently asked questions, with examples and tips.</p>
      </li>
    </ul>
  </nav>
</header>
