	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script src="http://api.1.ongithub.com/js/mustache.js" type="text/javascript"></script>
	<link href="http://api.1.ongithub.com/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="http://api.1.ongithub.com/css/swagger.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://api.1.ongithub.com/css/swagger.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://api.1.ongithub.com/css/hightlight.default.css" media="screen" />
    
    <script src='http://api.1.ongithub.com/js/shred.bundle.js' type='text/javascript'></script>
    <script src='http://api.1.ongithub.com/js/handlebars-1.0.rc.1.js' type='text/javascript'></script>
    <script src='http://api.1.ongithub.com/js/underscore-min.js' type='text/javascript'></script>
    <script src='http://api.1.ongithub.com/js/backbone-min.js' type='text/javascript'></script>
    <script src='http://api.1.ongithub.com/js/swagger.js' type='text/javascript'></script>
    <script src='http://api.1.ongithub.com/js/swagger-ui.js' type='text/javascript'></script>
    <script src='http://api.1.ongithub.com/js/highlight.7.3.pack.js' type='text/javascript'></script>
    <script src='http://api.1.ongithub.com/js/mustache.js' type='text/javascript'></script>
    <script src='http://api.1.ongithub.com/js/injector.js' type='text/javascript'></script>
    <script src='http://api.1.ongithub.com/js/utilities.js' type='text/javascript'></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
